body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#204D58;
  position: fixed;
  top: 0%;
  z-index: 100;
}

.navbar.scrolled{
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.navbar.scrolled .logo{
  color: #1086a4;
}
.navbar.scrolled .link1{
  color: #1086a4;
}
.navbar.scrolled .link2{
  color: #1086a4;
}
.navbar.scrolled .link3{
  color: #1086a4;
}
.navbar.scrolled .link4{
  color: #1086a4;
}
.navbar.scrolled .link5{
  color: #1086a4;
}
.navbar.scrolled .link6{
  color: #1086a4;
}
.navbar.scrolled .link7{
  color: #1086a4;
}
.navbar.scrolled .mobile-menu{
  color: #1086a4;
}

.nav-link{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* background-color: red; */
}

.mobile-menu{
  display: none;
}

.nav-link > .link1{
  padding: 0px 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link > .link1:focus{
  background-color: #143E4A;;
}

.nav-link > .link2{
  padding: 0px 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  /* background-color: #143E4A; */
}

.nav-link > .link2:focus{
  background-color: #143E4A;;
}

.nav-link > .link3{
  padding: 0px 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  /* background-color: #143E4A; */
}


.nav-link > .link3:focus{
  background-color: #143E4A;;
}

.nav-link > .link4{
  padding: 0px 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  /* background-color: #143E4A; */
}


.nav-link > .link4:focus{
  background-color: #143E4A;;
}

.nav-link > .link5{
  padding: 0px 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  /* background-color: #143E4A; */
}


.nav-link > .link5:focus{
  background-color: #143E4A;;
}

.nav-link > .link6{
  padding: 0px 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  /* background-color: #143E4A; */
}


.nav-link > .link6:focus{
  background-color: #143E4A;;
}

.nav-link > .link7{
  padding: 0px 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  /* background-color: #143E4A; */
}


.nav-link > .link7:focus{
  background-color: #143E4A;;
}

.nav-link > .link7 > .fa-solid{
  font-size: 1.5rem;
}

.logo{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  margin-left: 15px;
}

.logo > span{
  display: flex;
}

.logo > span > .fa-brands{
  font-size: 2rem;
}

.logo > h3{
  font-size: 1.7rem;
  font-weight: lighter;
}

.nav-mother{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.banner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 70px;
  background-color:#143E4A;
}

.banner-box1{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* border: 1px solid white; */
  margin: 40px 0px;
}


.banner-box1 > h3{
  color: #1086a4;
  font-size: 2rem;
}

.banner-box2{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  /* border: 1px solid white; */
  margin: 40px 0px;
}
.banner-box2 > a{
  color: #BEAE4E;
  font-size: 2rem;
}

.banner-box3{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  /* border: 1px solid white; */
  color: #1086a4;
  margin: 40px 0px;
}

.banner-box3 > p{
  font-size: 3rem;
}





@media screen and (max-width:650px) {
  .nav-mother{
    padding:0px 0px;
  }

  .banner{
    padding: 10px;
    flex-direction: column;
    /* background-color: red; */
  }

  .banner-box1{
    width: 100%;
  }


  .banner-box1 > h3{
      margin-top: 60px;
  }

  .banner-box2{
    width: 100%;
    display: flex;
    padding: 0px;
    margin: 0px 15px;
    align-items: flex-start;
  }

  .banner-box3{
    width: 100%;
    padding: 0px;
    margin: 10px 0px;
  }

  .nav-link{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    left: 0%;
    top: 80px;
    position: fixed;
    transform: translateX(-100%);
    transition:transform 0.3s ease-in-out;
    background-color:#143E4A;
  }

  .nav-link.mobile-link.active{
    transform: translateX(0%);
  }

  .mobile-menu{
    display: block;
    color: white;
    margin-right:15px;
  }

  .nav-link > .link1{
    color: #1086a4;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    border-bottom:  1px solid white;
  }
  .nav-link > .link2{
    color: #1086a4;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    border-bottom:  1px solid white;
  }
  .nav-link > .link3{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    border-bottom:  1px solid white;
    color: #1086a4;
  }
  .nav-link > .link4{
    color: #1086a4;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    border-bottom:  1px solid white;
  }
  .nav-link > .link5{
    color: #1086a4;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    border-bottom:  1px solid white;
  }
  .nav-link > .link6{
    color: #1086a4;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    border-bottom:  1px solid white;
  }
  .nav-link > .link7{
    color: #1086a4;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    border-bottom:  1px solid white;
    padding: 0px 10px;
  } 
}




@media screen and (max-width:768px) {
  .nav-container{
    display: flex;
    justify-content: center;
  }
  .nav-mother{
    padding: 0px;
  }

  .banner{
    padding: 10px;
  }

  .banner-box1{
    width: 100%;
  }
  .banner-box2{
    display: flex;
    width: 100%;
    padding: 0px;
  }

  .banner-box2 > a{
    font-size: 1rem;
  }
  .banner-box3{
    width: 100%;
  }

  .banner-box1 > h3{
    margin-top: 60px;
}

.banner-box2{
  width: 100%;
  display: flex;
  padding: 0px;
  margin: 0px 15px;
  align-items: flex-start;
}

.banner-box3{
  width: 100%;
  padding: 0px;
  margin: 10px 0px;
}


  .nav-link > .link1{
        padding: 10px;
    font-size: 0.9rem;
    /* background-color: red; */
  }
  .nav-link > .link2{
    padding: 10px;
    font-size: 0.9rem;
    /* background-color: red; */
  }
  .nav-link > .link3{
    padding: 10px;
    font-size: 0.9rem;
    /* background-color: red; */
  }

  .nav-link > .link4{
    padding: 10px;
    font-size: 0.9rem;
    /* background-color: red; */
  }
  .nav-link > .link5{
    padding: 10px;
    font-size: 0.9rem;
    /* background-color: red; */
  }
  .nav-link > .link6{
    padding: 10px;
    font-size: 0.9rem;
    /* background-color: red; */
  }
  .nav-link > .link7{
    padding: 10px;
    font-size: 0.9rem;
    /* background-color: red; */
    
  }
}

.form-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
  background-color: whitesmoke;
}

.form-container > p{
  margin: 15px 0px;
}

.form-container > form{
  width: 50%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  padding: 20px 10px;
}

.form-container > form > input{
  width: 100%;
  height: 40px;
  border: 1px solid  #143E4A;
  outline: none;
  margin: 8px 0px;
  padding-left: 10px;
}


.form-container > form > .pass{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid  #143E4A;
  outline: none;
  margin: 8px 0px;
  padding-left: 10px;
}

.form-container > form > .pass > input{
  width: 96%;
  border: none;
  outline: none;
}

.form-container > form > button{
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #143E4A;
  color: white;
  font-weight: bold;
  margin: 8px 0px;
}

.form-container > button{
  width: 97%;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: #143E4A;
  font-weight: bold;
  margin: 8px 0px;
}

.form-container > form > p{
  cursor: pointer;
}

@media screen and (max-width:650px) {


  .form-container > form{
    width: 100%;
  }

  .form-container > form > .pass > input{
    width: 92%;

  }
}

@media screen and (max-width:768px) {
  
  .form-container > form{
    width: 100%;
  }

}

.footer-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #204D58;
}

.footer-con1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
}

.footer-con1 > .account-link{
  width: 30%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(185, 182, 182);
  text-decoration: none;
  font-size: 2.5rem;
  text-align: center;
  font-weight: lighter;
  background-color: #0E6481;
}

.footer-con1 > .account-link:hover{
color: white;
/* font-weight: bold; */
}


.footer-con1 > .card-link{
  width: 30%;
  padding: 10px ;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: lighter;
  text-decoration: none;
  font-size: 2.5rem;
  text-align: center;
  color: rgb(185, 182, 182);
  background-color:#1F938B;
}

.footer-con1 > .card-link:hover{
  color: white;
  /* font-weight: bold; */
  }

.footer-con1 > .saving-link{
  width: 30%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  font-weight: lighter;
  text-decoration: none;
  font-size: 2.5rem;
  text-align: center;
  color: grey;
  background-color: #BEAE4E;
}

.footer-con1 > .saving-link:hover{
  color: white;
  /* font-weight: bold; */
  }

  .footer-con2{
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: red; */
  }

  .footer-con2 > h3{
    width: 25%;
    color: #1086a4;
    margin: 0px 10px;
  }

  .footer-con2 > form{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-con2 > form > input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 15px;
    background-color:#0E6481 ;
  }

  .footer-con2 > form  > button{
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 8px 0px;
    color: white;
    background: transparent;
    border: 1px solid #BEAE4E;
  }

  .footer-con2 > form  > button:hover{
    background-color: #BEAE4E;
  }

  .footer-con3{
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .footer-box{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: white; */
    margin: 20px;
  }

  .footer-box > p{
    color: #1086a4;
  }

  .footer-box > h3{
    color: white;
    font-size: 1.2rem;
    margin: 20px 0px;
  }

  .footer-box > span{
    display: flex;
    gap: 10px;
    margin: 10px 0px;
  }

  .email-span{
    display: flex;
    align-items: center;
  }

  .email-span > p{
    color: #1086a4;
  }

  .email-span > a{
    color:#BEAE4E;
    text-decoration: none;
    font-size: 0.8rem;
  }

  .footer-box > span > a > .fa-brands{
    color: white;
    font-size: 1.5rem;
  }

  .footer-box > span > a > .fa-solid{
    color:#BEAE4E;
    font-size: 1.5rem;
  }

  .footer-box > a{
    text-decoration: none;
    color: #1086a4;
    margin: 6px 0px;
    transition: 0.3s ease-in-out;
  }

  .footer-box > a:hover{
    color: white;
    padding-left: 5px;
    transition: 0.3s ease-in-out;
  }

  .footer-box > a > .fa-solid{
    margin: 0px 8px  0px 0px;
  }

@media screen and (max-width:650px) {
  .footer-container{
    padding: 10px;
  }

  .footer-con1{
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    /* background-color: pink; */
  }

 .footer-con1 > .account-link{
    width: 100%;
  }

 .footer-con1 > .card-link{
    width: 100%;
  }

  .footer-con1 > .saving-link{
    width: 100%;
  }

  .footer-con2{
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .footer-con2 > form{
    width: 100%;
  }

  .footer-con2 > h3{
    width: 90%;
  }
  
  .footer-con3{
    width: 100%;
    flex-direction: column;
  }

  .footer-box{
    width: 100%;
    margin: 0px;
    /* background-color: red; */
  }
}



@media screen and (max-width:768px) {
  .footer-container{
    padding: 10px;
  }

  .footer-con1{
    flex-direction: column;
    padding: 0px;
    /* background-color: pink; */
    margin: 0px;
  }

 .footer-con1 > .account-link{
    width: 100%;
  }

 .footer-con1 > .card-link{
    width: 100%;
  }

  .footer-con1 > .saving-link{
    width: 100%;
  }

  .footer-con2{
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .footer-con2 > form{
    width: 100%;
  }

  .footer-con2 > h3{
    width: 90%;
  }
  
  .footer-con3{
    width: 100%;
    flex-direction: column;
  }

  .footer-box{
    width: 100%;
    margin: 0px;
    /* background-color: red; */
  }
}



.scroll-to-top{
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color:#BEAE4E;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scroll-to-top:hover{
  background-color: white;
  color:#BEAE4E;
}
